<div>
    <div> 
        <h3>Create a new blog</h3>

        <form class="new-blog">
            <div>
                <label for="blogTitle"> Title:</label>
                <input type="text" name="title" id="blogTitle" class="title"/>
            </div>
            <div>
                <label for="blog-body"> Blog:</label>
                <input type="text" name="blogBody" class="form-input" id="blogBody"/>
            </div>
            <button type="submit" class="blog-btn">Create</button>
        </form>
    </div>
</div>
<script src="./js/profile.js"></script>